{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'py_wallet/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'py_wallet/css/style.css' %}">
    
    <title>Wallet</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  </head>
  <body>
  
    {% block content %}{% endblock content %}
   
    <script src="{% static 'py_wallet/js/bootstrap.js' %}"></script>
    <script src="{% static 'py_wallet/js/popper.js' %}"></script>
    <script src="{% static 'py_wallet/js/jquery.js' %}"></script>
  </body>
</html>